{%extends 'base.html' %}
{% load tags %}

{% block user_buttons%}
{%navbar_user_buttons request user current_profile%}
{% endblock %}


{% block content %}

<div class="container">
    <div class="main-body">
        <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            {% if profile.photo %}
                            <img
                                    src="{{ profile.photo.url }}" alt="No photo"
                                    class="rounded-circle" width="150">
                            {%else%}
                            <img
                                    src="https://avatars.mds.yandex.net/get-pdb/1996600/d1725ec1-41d3-4b2c-ab24-91ec603557bf/s1200" alt="Admin"
                                    class="rounded-circle" width="150">
                            {%endif%}
                            <div class="mt-3"><h4> {{profile.first_name}} {{profile.last_name}}</h4>
                                <p class="text-secondary mb-1">{{ profile.faculty }} {{ profile.grade }} Курс</p>
                                <p class="text-muted font-size-sm">Цель - {{ profile.status }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mt-3">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <h6 class="mb-0">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                     fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                     stroke-linejoin="round" class="feather feather-globe mr-2 icon-inline">
                                    <circle cx="12" cy="12" r="10"></circle>
                                    <line x1="2" y1="12" x2="22" y2="12"></line>
                                    <path d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z"></path>
                                </svg>
                                ВК
                            </h6>
                            {% if profile.vk_url != 'None'%}
                            <span class="text-secondary"><a href="https://vk.com/id{{profile.vk_url}}/">vk.com/{{profile.vk_url}}</a></span>
                            {%endif%}
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3"><h6 class="mb-0">Описание: </h6></div>
                            <div class="col-sm-9 text-secondary">{{ profile.description }}</div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3"><h6 class="mb-0">Пол: </h6></div>
                            <div class="col-sm-9 text-secondary">{{ profile.gender }}</div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3"><h6 class="mb-0">С нами уже : </h6></div>
                            <div class="col-sm-9 text-secondary">{{user.date_joined|timesince}}</div>
                        </div>
                        <hr>
                    </div>
                </div>
                <div class="row gutters-sm">
                    {% if profile.tag.all %}
                    <div class="col-sm-6 mb-3">
                        <div class="card h-100">
                            <div class="card-body"><h6 class="d-flex align-items-center mb-3"><i
                                    class="material-icons text-info mr-2"></i>Тэги</h6>
                                {% for i in profile.tag.all %}
                                <small>{{i}}</small>
                                <div class="progress mb-3" style="height: 5px">
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    {%endif%}
                    {% if profile.user == user%}
                    <div class="col-sm-6 mb-3">
                        <div class="card h-100">
                            <div class="card-body"><h6 class="d-flex align-items-center mb-3"><i
                                    class="material-icons text-info mr-2">Видите только вы</i>Приватная информация</h6>
                                <small>Почта: {{ profile.user.email }}</small>
                                <div class="progress mb-3" style="height: 5px"></div>
                                <small>Ваша ссылка: {{ profile.slug }}</small>
                                <div class="progress mb-3" style="height: 5px"></div>
                                <small>Кол-во просмотров: {{ profile.views }}</small>
                                <div class="progress mb-3" style="height: 5px"></div>
                                <p><a href="{% url 'editprofile' %}" class="btn btn-primary btn-block">Изменить
                                    профиль</a></p>
                                <p><a href="{% url 'changepassword' %}" class="btn btn-primary btn-block">Изменить
                                    пароль</a></p>
                                {% if profile.vk_url != 'None'%}


                                <p><a href="{% url 'vkdelete'%}" class="btn btn-primary btn-block">Отвязать ВК</a></p>
                                {%else%}
                                <p><a href="{% url 'vk_auth'%}" class="btn btn-primary btn-block">Привязать ВК</a></p>
                                {%endif%}
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
<style type="text/css">body{
    margin-top:20px;
    color: #1a202c;
    text-align: left;
    background-color: #e2e8f0;
}
.main-body {
    padding: 15px;
}
.card {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
}

.gutters-sm {
    margin-right: -8px;
    margin-left: -8px;
}

.gutters-sm>.col, .gutters-sm>[class*=col-] {
    padding-right: 8px;
    padding-left: 8px;
}
.mb-3, .my-3 {
    margin-bottom: 1rem!important;
}

.bg-gray-300 {
    background-color: #e2e8f0;
}
.h-100 {
    height: 100%!important;
}
.shadow-none {
    box-shadow: none!important;
}

</style>
<script type="text/javascript"></script>
{% endblock %}