{% extends 'base.html' %}
{%load tags%}

{% block user_buttons %}
{% navbar_user_buttons request user%}
{% endblock %}

{%block content%}

<div class="col-lg-8">
<div class="row">
    {%for i in page_obj%}
    <div class="col-lg-6">
        <div class="card mb-4">
            <a href="{{ i.get_absolute_url }}"><img class="card-img-top"
                                                    src="https://dummyimage.com/700x350/dee2e6/6c757d.jpg"
                                                    alt="..."/></a>
            <div class="card-body">
                <div class="small text-muted">{{ i.faculty.name }}, {{ i.grade.name }} курс</div>
                <h2 class="card-title h4">{{ i.first_name }} {{ i.last_name }}</h2>
                <p class="card-text">{{ i.description }}</p>
                <a class="btn btn-primary" href="{{ i.get_absolute_url }}">Перейти</a>
            </div>
        </div>
    </div>
    {%endfor%}

    <nav aria-label="Pagination">
        <hr class="my-0"/>
        <ul class="pagination justify-content-center my-4">
            <li class="page-item active">
                <a class="page-link" href="?page=1" tabindex="-1" aria-disabled="true">1</a>
            </li>
            {% if page_obj.has_previous %}
            <li class="page-item ">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1"
                   aria-disabled="true">Назад</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Назад</a>
            </li>
            {% endif %}
            <li class="page-item disabled"><a class="page-link" href="#!">{{ page_obj.number }}</a></li>
            {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}" tabindex="-1" aria-disabled="true">Вперед</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Вперед</a>
            </li>
            {% endif %}
            <li class="page-item active">
                <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" tabindex="-1" aria-disabled="true">{{page_obj.paginator.num_pages}}</a>
            </li>


        </ul>
    </nav>
</div>
</div>
<div class="col-lg-4">
    <div class="card mb-4">
        <div class="card-header">Фильтр</div>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="w-20 btn btn-sm btn-primary">Применить</button>
            </form>
        </div>
    </div>
</div>
{%endblock%}